{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
   <!-- Title and subtitle -->
    <div class="text-center mt-5 mb-4">
        <h1 class="font-weight-bold">Astropohographie</h1>
        <h1 class="font-weight-bold">Planétaire et Ciel Profond</h1>
    </div>
    <div class="text-center col-md-9 col-lg-6 mx-auto">
        <h4 class="font-weight-light ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h2>
    </div>
    <div class="btn-toolbar btn-inline">
        <button type="button" id="btnDeepSky" class="btn btn-dark mr-3">Ciel profond</button>
        <button type="button" id="btnPlanet" class="btn btn-dark ml-3">Planétaire</button>
    </div>

    

{% endblock %}
