{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
   <!-- Title and subtitle -->
    <div class="text-center mt-5 mb-4">
        <h1 class="font-weight-bold">Astropohographie</h1>
        <h1 class="font-weight-bold">Planétaire et Ciel Profond</h1>
    </div>
    <div class="text-center col-md-9 col-lg-6 mx-auto">
        <h4 class="font-weight-light ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h2>
    </div>
    <div class="btn-toolbar btn-inline">
        <button type="button" id="btnDeepSky" class="btn btn-dark mr-3">Ciel profond</button>
        <button type="button" id="btnPlanet" class="btn btn-dark ml-3">Planétaire</button>
    </div>
    <div class="text-center"> 
        <img src="{{url_for('static', filename='img/Andro.jpg')}}", class="astro-img"/>
        <img src="{{url_for('static', filename='img/Astra_image_traitement.jpg')}}", class="astro-img"/>
        <img src="{{url_for('static', filename='img/IC434.jpg')}}", class="astro-img"/>
    </div>

    <!-- Back to top button -->
    <button
    type="button"
    class="btn btn-danger btn-floating btn-lg"
    id="btn-back-to-top"
    >
    <i class="fas fa-arrow-up"></i>
    </button>


{% endblock %}
